@charset "UTF-8";
* {
  text-decoration: none;
  list-style: none; }

body {
  height: 5000px; }

.Index-top {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/top-img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .Index-top__filter {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0px -40px 80px -30px rgba(0, 0, 0, 0.6) inset;
            box-shadow: 0px -40px 80px -30px rgba(0, 0, 0, 0.6) inset; }
  .Index-top__navigation {
    width: 100%;
    height: 40px;
    font-size: 17px;
    font-weight: 600;
    padding-top: 9px;
    position: fixed;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 10;
    letter-spacing: .5px; }
  .Index-top__navigation-lists {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .Index-top__navigation-list {
    position: relative; }
    .Index-top__navigation-list::after {
      content: "";
      width: 0%;
      height: 2px;
      background-color: #183446;
      position: absolute;
      left: -0;
      top: 17px;
      -webkit-transition: .3s;
      transition: .3s; }
    .Index-top__navigation-list:hover::after {
      width: 100%; }
  .Index-top__navigation-list a {
    color: #183446; }
  .Index-top__content {
    height: 100%;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #183446;
    text-align: center;
    font-size: 2.5em;
    font-weight: 800;
    line-height: 56px; }
  .Index-top__logo {
    width: 40vh;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.49);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.49);
    border-radius: 50%; }
  .Index-top__bottom {
    height: 80px;
    width: 100%;
    background-color: #183446;
    position: absolute;
    bottom: 0;
    -webkit-transition: .7s;
    transition: .7s; }
    .Index-top__bottom ul {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin: 0 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%;
      width: 95%; }
  .Index-top__button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    background-size: 70%;
    background-color: #282828;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10%; }
    .Index-top__button--twitter {
      background-image: url("../img/twitter.png");
      margin-right: 30px; }
    .Index-top__button--youtube {
      background-image: url("../img/youtube.png"); }

.About {
  position: relative;
  width: 100%;
  height: 900px;
  background-color: #f6d2b2; }
  .About__title {
    color: #F37402; }
  .About__content {
    width: 100%;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px; }
  .About__text {
    color: #183446;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    width: 400px;
    max-width: 600px;
    margin: 0 50px;
    min-width: 400px;
    line-height: 28px; }
  .About__sub-title {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px; }
  .About__images {
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    width: 500px;
    min-width: 630px;
    max-width: 800px;
    height: 700px;
    margin: 0 50px 0 0;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .About__image {
    width: 300px;
    background-color: #7d7d7d;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #F37402;
    border-radius: 2px;
    overflow: hidden;
    line-height: 35px;
    white-space: pre;
    text-align: center;
    color: #fff;
    font-size: 18px; }
    .About__image--a {
      position: relative;
      height: 420px;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      background-image: url("../img/about5.jpg");
      background-position: center; }
      .About__image--a::after {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        content: "break界の総長\Aげんき";
        position: absolute;
        background-color: rgba(8, 8, 8, 0.58);
        width: 100%;
        height: 100%;
        left: -100%;
        -webkit-transition: .3s;
        transition: .3s; }
      .About__image--a:hover::after {
        left: 0%; }
    .About__image--bc {
      height: 410px; }
    .About__image--b {
      position: relative;
      height: 60%;
      background-image: url("../img/about3.jpg");
      background-position: center; }
      .About__image--b::after {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        content: "2016年春\Aバーベキュー";
        position: absolute;
        background-color: rgba(8, 8, 8, 0.58);
        width: 100%;
        height: 100%;
        right: -100%;
        -webkit-transition: .3s;
        transition: .3s; }
      .About__image--b:hover::after {
        right: 0%; }
    .About__image--c {
      position: relative;
      height: 40%;
      background-image: url("../img/about6.jpg");
      background-position: center; }
      .About__image--c::after {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        content: "2017年\A夏合宿";
        position: absolute;
        background-color: rgba(8, 8, 8, 0.58);
        width: 100%;
        height: 100%;
        right: -100%;
        -webkit-transition: .3s;
        transition: .3s; }
      .About__image--c:hover::after {
        right: 0%; }
    .About__image--d {
      position: relative;
      height: 280px;
      -webkit-box-flex: 2;
          -ms-flex-positive: 2;
              flex-grow: 2;
      background-image: url("../img/about2.jpg");
      background-position: center; }
      .About__image--d::after {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        content: "2017年夏\AUEC-niget";
        position: absolute;
        background-color: rgba(8, 8, 8, 0.58);
        width: 100%;
        height: 100%;
        bottom: -100%;
        -webkit-transition: .3s;
        transition: .3s; }
      .About__image--d:hover::after {
        bottom: 0%; }

.SNS-block {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url("../img/wall.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }
  .SNS-block__title {
    position: absolute;
    left: 50%;
    top: 30px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    z-index: 1; }
  .SNS-block__inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 180px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .SNS-block__filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 39, 91, 0.75); }
  .SNS-block__button {
    width: 170px;
    height: 170px;
    z-index: 1;
    border: 3px solid #fff;
    border-radius: 50%;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    background-color: #292929;
    -webkit-transition: .5s;
    transition: .5s;
    background-size: 50%;
    background-repeat: no-repeat; }
    .SNS-block__button span {
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      position: absolute;
      bottom: 30px;
      -webkit-transition: .5s;
      transition: .5s; }
    .SNS-block__button--twitter {
      background-image: url("../img/twitter.png");
      background-position: center; }
      .SNS-block__button--twitter:hover {
        border-color: #55acee; }
        .SNS-block__button--twitter:hover span {
          color: #55acee; }
    .SNS-block__button--youtube {
      background-image: url("../img/youtube.png");
      background-position: center; }
      .SNS-block__button--youtube:hover {
        border-color: #FF0000; }
        .SNS-block__button--youtube:hover span {
          color: #FF0000; }
