$black-text: #183446;
$link-color: #6aacac;
$link-color-hover: #548787;

.Content-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 10px;
  padding-top: 45px;
  margin-left: 30px;
  width: 90%;
  
  
  &__link {
    font-size: 14px;
    position: absolute;
    top: 49px;
    right: 11%;
    box-sizing: content-box;
    color: $link-color;
    // font-weight: 600;
    
    &:hover {
      color: $link-color-hover;
      &::before {
        border-color: $link-color-hover;
      }
    }
    
    &::before {
      position: absolute;
      content: "";
      border-top: 2px solid $link-color;
      border-right: 2px solid $link-color;
      width: 6px;
      height: 6px;
      transform: rotate(45deg);
      left: -15px;
      top: 1px;
    }
  }
}

.link-button {
  position: relative;
  width: 170px;
  height: 50px;
  border: 2px solid #F37402;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
  
  &::after {
    content: "";
    width: 7px;
    height: 7px;
    border-top: 2px solid #F37402;
    border-right: 2px solid #F37402;
    display: block;
    position: absolute;
    top: 21px;
    right: 15px;
    transform: rotate(45deg);
    
  }
  &:hover {
    background-color: #f4c79e;
  }
}