@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url('https://fonts.googleapis.com/css?family=Acme');

$white-text: #f4f4f4;
$black-text: #183446;

* {
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url("../img/gback.jpg");
  // overflow: hidden;
  background-attachment: fixed;
}

.Grobal-Wrapper {
  // height: 5000px;
  width: 85%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
  overflow: hidden;
  min-width: 1200px;
}

.Index-top {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/top-img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  // &::after {
  //   content: "";
  //   width: 100%;
  //   height: 10%;
  //   background-color: $black-text;
  //   position: absolute;
  //   transition: .7s;
  // }
  // 
  // &__add::after {
  //   bottom: 0;
  //   left: 0
  // }
  // &::before {
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(244, 116, 2, 1);
  //   position: absolute;
  //   top: 0;
  //   left: -95%;
  //   box-shadow: 0px 0px 10px black;
  // }
  
  &__filter {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px -40px 80px -30px rgba(0, 0, 0, 0.6) inset;
  }
  
  &__navigation {
    width: 110%;
    height:45px;
    font-size: 17px;
    font-weight: 600;
    padding-top: 9px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: .4s;
    z-index: 10;
    letter-spacing: .5px;
  }
  
  &__navigation-lists {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__navigation-list {
    position: relative;
    &::after {
      content: "";
      width: 0%;
      height: 2px;
      background-color: $white-text;
      position: absolute;
      left: -0;
      top: 17px;
      transition: .4s;
      
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
  
  &__navigation-list:hover {
    
  }
  
  &__navigation-list a {
    color: $black-text;
  }
  
  &__content {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $black-text;
    text-align: center;
    font-size: 2.5em;
    font-weight: 800;
    line-height: 56px;
    opacity: 0;
    transition: 1s;
  }
  
  &__logo {
    width: 40vh;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.49);
    border-radius: 50%;

  }
  
  &__bottom {
    height: 50px;
    width: 100%;
    background-color: $black-text;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .7s;
    
    & ul {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: flex-end;
      margin: 0 auto;
      align-items: center;
      height: 100%;
      width: 95%;
    }
  }
  
  &__button {
    cursor: pointer;
    width: 42px;
    height: 42px;
    border: 2px solid #fff;
    background-size: 70%;
    background-color: #282828;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10%;
    
    &--twitter {
      background-image: url("../img/twitter.png");
      margin-right: 30px;
    }
    &--youtube {
      background-image: url("../img/youtube.png");
    }
  }
  
}

.About {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: #f5dfcf;
  
  &__title {
    color: #F37402;
    border-bottom: 2px solid #F37402;
  }
  
  &__content {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }
  
  &__text {
    color: $black-text;
    flex-grow: 2;
    width: 400px;
    max-width: 600px;
    margin: 0 50px;
    min-width: 400px;
    line-height: 28px;
    // display: -webkit-flex;
    // display: -ms-flex;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
  }
  
  &__sub-title {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  &__images {
    flex-grow: 1;
    max-width: 600px;
    height: 600px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 1s;
  }
  
  &__image {
    background-color: #7d7d7d;
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #F37402;
    border-radius: 2px;
    overflow: hidden;
    line-height: 35px;
    white-space: pre;
    text-align: center;
    color: #fff;
    font-size: 18px;
    
    
    &::after {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgba(8, 8, 8, 0.58);
      width: 100%;
      height: 100%;
      transition: .3s;
    }

    
    &--a {
      position: relative;
      height: 70%;
      flex-grow: 1;
      background-image: url("../img/about5.jpg");
      background-position: center;
      
      &::after {
        content: "break界の総長\Aげんき";
        left: -100%;
        
      }
      
      &:hover {
        &::after {
          left: 0%;
        }
      }
    }
    &--bc {
      width: 60%;
      height: 70%;
      margin: 0 10px 10px 0;
      padding-bottom: 10px;
      box-sizing: border-box;
    }
    &--b {
      position: relative;
      width: 100%;
      height: 50%;
      background-image: url("../img/about3.jpg");
      background-position: center;
      
      &::after {
        content: "2016年春\Aバーベキュー";
        right: -100%;
      }
      
      &:hover {
        &::after {
          right: 0%;
        }
      }
    }
    &--c {
      position: relative;
      width: 100%;
      height:  50%;
      background-image: url("../img/about6.jpg");
      background-position: center;
      
      &::after {
        content: "2017年\A夏合宿";
        right: -100%;
        
      }
      
      &:hover {
        &::after {
          right: 0%;
        }
      }
      
    }
    &--d {
      position: relative;
      width: 100%;
      height: 30%;
      flex-grow: 2;
      background-image: url("../img/about2.jpg");
      background-position: center;
      
      &::after {
        content: "2017年夏\AUEC-niget";
        bottom: -100%;
      }
      
      &:hover {
        &::after {
          bottom: 0%;
        }
      }
    }
  }
}

.SNS-block {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("../img/wall.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
  &__title {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0);
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    z-index: 1
  }
  
  
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 180px;
    box-sizing: border-box;
  }
  
  
  &__filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 39, 91, 0.75);
  }
  
  &__button {
    width: 170px;
    height: 170px;
    z-index: 1;
    border: 3px solid #fff;
    border-radius: 50%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #292929;
    transition: .5s;
    background-size: 50%;
    background-repeat: no-repeat;
    
    
    
    & span {
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      position: absolute;
      bottom: 30px;
      transition: .5s;
    }
    
    &--twitter {
      background-image: url("../img/twitter.png");
      background-position: center;
      &:hover {
        border-color: #55acee;
        & span {
          color: #55acee;
        }
      }
    }
    &--youtube {
      background-image: url("../img/youtube.png");
      background-position: center;
      &:hover {
        border-color: #FF0000;
        & span {
          color: #FF0000;
        }
      }
    }    
  }
}

.News {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #e7eaed;
  
  &__title {
    color: #1A7DD7;
    border-bottom: 2px solid #1A7DD7;
  }
  
  &__contents {
    width: 85%;
    height: 80%;
    margin: 0px auto;
    margin-top: 60px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
  }
  &__content {
    height: 50px;
    width: 100%;
    border-bottom: 2px dotted #88b3da;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding-left: 5px;
    &:first-child {
      border-top: 2px dotted #88b3da;
    }
  }
  
  &__date {
    font-weight: 400;
    font-size: 15px;
    margin-right: 100px;
  }
  &__topic {
    
  }
}

.Genre {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: #f5f0e1;
  
  &__title {
    color: #F2B809;
    border-bottom: 2px solid #F2B809;
  }
  
  &__content {
    // width: 90%;
    height: 90%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__images {
    flex-grow: 1;
    max-width: 600px;
    height: 600px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    &--left {
      // margin-left: 10px;
    }
  }
  &__image {
    // width: 300px;
    background-color: #7d7d7d;
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #F2B809;
    border-radius: 2px;
    overflow: hidden;
    line-height: 35px;
    white-space: pre;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    position: relative;
    filter: grayscale(1);
    
    &:hover {
      filter: grayscale(0);
      transform: scale(1.02);
    }
  
    & a {
      color: #fff;
      background-color: rgba(0, 0, 0, .2);
      width: 100%;
      height: 100%;
      // display: inline-block;
      vertical-align: middle;
      position: absolute;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
    }
    
    & span {
      position: relative;
      font-size: 40px;
      font-weight: 1000;
      z-index: 1;
      // pointer-events: none;
      display: block;
      // width: 100%;
      margin: 0 auto;
      font-family: 'Acme', sans-serif;
      letter-spacing: 1px;
      pointer-events: none;
      
      &::after {
        content: attr(txt);
        position: absolute;
        clip: rect(0, 0, 120px, 0);
        transition: clip .3s linear;
        // color: #f12424;
        // top: 0;
        left: 0;
        z-index: 3;
        
        
      }
      
    }
    &:hover {
      & span::after {
        clip: rect(0, 155px, 120px, 0);
      }
    }
    
    
    &--a {
      box-sizing: border-box;
      height: 70%;
      flex-grow: 1;
      background-image: url("../img/hiphop.jpg");
      background-position: center;
      
      & span:after {
        color: #f12424;
      }
    }
    &--bc {
      // box-sizing: border-box;
      // height: 410px;
      width: 60%;
      height: 70%;
      margin: 0 10px 10px 0;
      padding-bottom: 10px;
      box-sizing: border-box;
    }
    &--b {
      width: 100%;
      position: relative;
      // margin-bottom: 0;
      height: 50%;
      background-image: url("../img/lock.jpg");
      background-position: center;
      & span:after {
        color: #E7D721;
      }
    }
    &--c {
      width: 100%;
      height:  50%;
      background-image: url("../img/pop.jpg");
      background-position: center;
      & span:after {
        color: #E5871D;
      }
      
    }
    &--d {
      width: 100%;
      height: 30%;
      flex-grow: 2;
      background-image: url("../img/house.jpg");
      // background-position: center -200px;
      & span:after {
        color: #237C1E;
      }
    }
    &--e {
      width: 100%;
      // flex-grow: 1;
      height: 40%;
      background-image: url("../img/girls.jpg");
      margin-right: 0px;
      & span:after {
        color: #941F94;
      }
    }
    &--f{
      // width: 50%;
      flex-grow: 1;
      height: 60%;
      background-image: url("../img/about5.jpg");
      & span:after {
        color: #81481C;
      }
    }
    &--g{
      width: 50%;
      height: 60%;
      background-image: url("../img/freestyle.jpg");
      background-position: center;
      margin-right: 0px;
      & span:after {
        color: #878787;
      }
      &:hover {
        & span::after {
          clip: rect(0, 200px, 120px, 0);
        }
      }
    }
  }
}

.Grobal-footer {
  height: 300px;
  width: 100%;
  background-color: rgb(213, 213, 213);
}